*~
*.pyo
*.pyc
*#
.#*
*.lock
*.eml
*.log
*.db
*.profile
.Python
*.egg-info/
/bin/
/include/
/lib/
/build/
/download-cache/
paver-minilib.zip
bootstrap.py
.DS_Store
pip-log.txt
*.min.*
*.sqlite
*.pickle
*.egg
setup.py
/dist
/docs/_build
